[submodule "browser-use"]
	path = browser-use
	url = git@github.com:browser-use/browser-use.git
[submodule "playwright-computer-use"]
	path = playwright-computer-use
	url = git@github.com:invariantlabs-ai/playwright-computer-use.git
[submodule "workflow-use"]
	path = workflow-use
	url = git@github.com:browser-use/workflow-use.git
[submodule "smolagents"]
	path = smolagents
	url = https://github.com/huggingface/smolagents.git
